<div class="container-fluid">
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">title</label>
          <input type="text" name="title" [(ngModel)]="title" class="form-control" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">discription</label>
          <input type="text"  name="desc" [(ngModel)]="desc" class="form-control" id="desc">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>